
services:

  # Nostr Relay Service
  nostr-relay:
    build: ./nostr-rs-relay
    image: nostr-rs-relay
    container_name: nostr-relay
    restart: on-failure
    volumes:
      - ./config.toml:/usr/src/app/config.toml
      - ./favicon.ico:/usr/src/app/favicon.ico
      - type: bind
        source: ./relay_data
        target: /usr/src/app/db
    networks:
      - caddy

  # Nostr Relay Web Dashboard
  web-dashboard:
    build: ./nostr-relay-dashboard
    image: nostr-relay-dashboard
    container_name: nostr-relay-dashboard
    user: "1000:1000"
    volumes:
      - tor-data:/var/lib/tor
    restart: on-failure
    environment:
      RELAY_HOST: "nostr-relay"
      RELAY_PORT: "8080"
    networks:
      - caddy

networks:
  caddy:
    name: caddy

volumes:
  tor-data:
    name: tor-data
